@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/stratosskyengweb-regular.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    background: var(--blue-120, #004980);
    font-family: StratosSkyeng, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #c2f5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 158px 272px;
    padding-left: 70px;
    padding-right: 70px;
}

.title {
    text-align: center;
    color: #004980;
    font-size: 40px;
    line-height: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-level {
    display: flex;
    gap: 26px;
    margin-top: 48px;
    margin-bottom: 67px;
}

input {
    display: none;
}

input[type='radio']:checked + label {
    border: 1px solid #000;
}

.form-level-choice {
    width: 97px;
    height: 98px;
    background: #fff;
    border-radius: 12px;
    color: var(--blue-100, #0080c1);
    text-align: center;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background: var(--salad-60, #7ac100);
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    border-width: 0;
}
