@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/stratosskyengweb-regular.woff") format("woff");
  }

body {
    margin: 0;
    padding: 0;
    background:  var(--blue-120, #004980);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rec-blue {
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background: #C2F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 158px 272px;
}

.title {
    text-align: center;
    color: #004980;
    font-size: 40px;
    line-height: 48px;
}

.level {
    display: flex;
    gap: 26px;
    /* margin-top: 48px;
    margin-bottom: 67px; */
}

.level-number {
    width: 97px;
    height: 98px;
    background:#FFF;
    color: var(--blue-100, #0080C1);
    text-align: center;
    font-size: 64px;
    font-family: StratosSkyeng;
    line-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background: var(--salad-60, #7AC100);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: StratosSkyeng;
    line-height: 32px;
    border-width: 0px;
    margin-top: 67px;
}